/* --- Style général du corps de la page --- */
body {
    /* Transition du or au noir */
    background-image: url('../images/backgroundold.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}
h1 {
    font-size: 48px;
    font-weight: bold
}

/* --- Partie dynamique --- */
.dynamic-text {
    color: white;
    font-weight: bold;
    min-height: 1.5em; /* éviter que ça saute quand le texte change */
    transition: opacity 0.5s ease-in-out;
}

/* --- Section accueil (bloc de bienvenue) --- */
.welcome-section {
    background: linear-gradient(90deg , black, darkgoldenrod, black);
    padding: 50px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 900px;
    text-align: center;
}

.welcome-section h1 {
    color: WHITE;
}

.welcome-section p {

    font-size: 1.2rem;
    color: white;
}

/* --- Boutons personnalisés --- */
.btn-primary {
    background-color: black;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: darkgoldenrod;
}

